PORT = 5000
MONGODB_URI=mongodb+srv://sanjefasd-hub:sdfasd@gamehub-main.4czjg40.mongodb.net/?appName=gamehub-main
GOOGLE_CLIENT_ID=sadfasd-e1k769cilmtr15ocnq613d4v8rpnv2aq.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPXdfasdfasd

